{% extends 'base.html'%}

{%block first%}
    <div class="content">
    <center><div class="indexbody">
    <form method="GET" action="{% url 'searchlist' %}">
        <div class="search_bar" style="width : 800px">
        <div class="input-group mb-3">
            <input type="text" name="searchtext" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
            <!-- <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
            </div> -->
        </div>
        </div>
    </form>
    <!-- <h5>수강과목 검색</h5>
        <script>
            function categoryChange(f) {
                var cat_a = ['중핵', '사고와표현1,2보고서작성및발표', '대학영어ESL1', '생활영어1,2ESL2', '자기계발과사회봉사', '고전및외국어'];
                var cat_b = ['인성과논리', '문학과예술', '역사와사회', '자연과과학'];
                var cat_c = ['인문학과예술체육', '사회과학과국제문화', '정보화와과학기술', '취업과창업'];
                var cat_d = ['기초인문사회', '기초자연과학'];
                var target = document.getElementById("second");
            
                if(f.value == "a") var e = cat_a;
                else if(f.value == "b") var e = cat_b;
                else if(f.value == "c") var e = cat_c;
                else if(f.value == "d") var e = cat_d
            
                target.options.length = 0;
            
                for (x in e) {
                    var opt = document.createElement("option");
                    opt.value = e[x];
                    opt.innerHTML = e[x];
                    target.appendChild(opt);
                }
            }

            function submit(){
                var range = document.getElementById("second");
                var rangeText = range.options[range.selectedIndex].text;
            }
            
        </script>
        <form method="GET" action="{% url 'searchlist' %}">
            <select class="selectbox" id="first" onchange="categoryChange(this)">
                <option>선택해주세요</option>
                <option value="a">기초교양</option>
                <option value="b">심화교양</option>
                <option value="c">일반교양</option>
                <option value="d">기초교육</option>
            </select>        
            <select class="selectbox" id="second" onchange="submit(this)" >
                <option value="range">선택해주세요</option>
            </select>
            <input class="btn btn-primary" type="submit" value="검색"></input>
        </form> -->
<!-- ================================================================================================================ -->
    <h5 styel="text-align:left">최근 강의평</h5>
    <div class="card" style="width: 800px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: left;">강의명</h5>
            <p class="card-text" style="text-align: left;">에벱베ㅔ베베베강의평가내용어쩌고저쩌고</p>
            <a href="#" class="btn btn-primary">자세히보기</a>
        </div>
    </div>
    <br>
    <br>
    <div class="card" style="width: 800px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: left;">강의명</h5>
            <p class="card-text" style="text-align: left;">에벱베ㅔ베베베강의평가내용어쩌고저쩌고</p>
            <a href="#" class="btn btn-primary">자세히보기</a>
        </div>
    </div>
    <br>
    <br>
    <div class="card" style="width: 800px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: left;">강의명</h5>
            <p class="card-text" style="text-align: left;">에벱베ㅔ베베베강의평가내용어쩌고저쩌고</p>
            <a href="#" class="btn btn-primary">자세히보기</a>
        </div>
    </div>


{%endblock%}