.login{
    position: absolute; 
    margin-left: 20%;
    margin-top: 100px;

}

.login .login_top{position: relative; width: inherit;}
.login .login_top li label{
    color: #464646; 
    width: 90px;
    margin-right: 20px;
}

.login .login_top li{
    padding-bottom: 6px;
}

.login .login_top li input[type="text"],
.login .login_top li input[type="password"]
{
    width: 100px; height: 29px;
    padding: 0 0 0 100px;
    border: 1px solid #d9d9d9;

}

.login .login_top .log_btn{
    position: absolute;
    right: 0; top: 0;    
    margin-left: 20px;
}
/* 로그인 버튼 */
.login .login_top li a{
    width: 109px; height: 67px;
    background: #0054A7;
    display: block;
    font-size: 17px; color: #fff; text-align: center;
    line-height: 69px; font-weight: bold;
    text-decoration: none;
}

.login .login_top .save label{
    font-weight: normal;
    width: auto;
    margin-bottom: 2px;
}

