{% extends 'base.html' %}<!-- base,html을 불러오는 코드 -->

    <!-- 해당 과목의 자세한 수강평가 내용을 볼 수 있는 페이지 -->


{% block contents %}

<script>
    var hw= getParameter("hw");
    var team= getParameter("team");
    var score= getParameter("score"); 
    var attend= getParameter("attend"); 
    var test= getParameter("test"); 

    </script>

<!-- 각 글마다의 날짜,본문을 가져와 사용 -->
<div class="content" >

    <!-- grid로 감싸는 가장 큰 틀 -->
    <div class="wrapper">
        <div class="item info">
        <div class="info-context">검색한 강의명</div>
        <div class="info-context">검색한 강의교수</div>
        <div class="info-context">마서연</div>

    
        </div>
    
        <div class="item fb-sum">
        <div class="fb-sum-context">강의평</div>
    <!-- 강의평 쓰기로 화면 전환 -->
        <div class="fb-sum-context">
            <a href="{% url 'write' %}"><p style="text-align: right;">새강의평쓰기</p></a></div>
        <div class="fb-sum-context">좋아요</div>
        <div class="fb-sum-context">싫어요</div>
        <div class="fb-sum-context">과제</div>
        <div class="fb-sum-context"><script>document.write(hw)</script></div>
        <div class="fb-sum-context">조모임</div>
        <div class="fb-sum-context"><script>document.write(team)</script></div>
        <div class="fb-sum-context">학점비율</div>
        <div class="fb-sum-context"><script>document.write(score)</script></div>
        <div class="fb-sum-context">출결</div>
        <div class="fb-sum-context"><script>document.write(attend)</script></div>
        <div class="fb-sum-context">시험횟수</div>
        <div class="fb-sum-context"><script>document.write(test)</script></div>
        </div>

    
    {% for lec in posts %}
        
            <!-- <p>강의평 감싸는 박스</p> -->
                <div class="feedback-context">익명</div>
                <!-- 댓글 쓴 사람만 삭제 가능하게 -->
                {% for comment in Lec.objects.all()%}
                    {% if comment.user == request.user  or request.user == "kcw"%}
                    <div class="feedback-context"><a href="{% url 'feedback_delete' memokey=memo.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')"><p style="text-align: right;">삭제</p></a></div>
                    {%endif%}
                {%endfor%}
                <div class="feedback-context">{{lec.pub_date}}</div>
                <!-- 본문내용 -->
                <div class="feedback-context texts">{{lec.body|safe|linebreaks}}</div>
                </div>
    
<div class="container" style=" height: 20px;">
    {%if posts.has_previous%}
        <a href="?page={{posts.previous_page_number}}">Previous</a>
    {%endif%}
<!--  -->
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>
<!-- 현재 page 번호, 몇 개 게시글로 되었는지 알려줌 e.g.2 of 5 -->
    {%if posts.has_next%}
        <a href="?page={{posts.next_page_number}}">Next</a>
    {%endif%}
</div>



{%endfor%}

{% endblock %}

